.MainLayout {
  background-color: #c41200;
  color: white;
}

button,
input[type='submit'] {
  border: solid 2px #fff;
  background: transparent;
  color: #fff !important;
}

button:hover,
input[type='submit']:hover {
  border: solid 2px #fff;
  background: #fff;
  color: #1f1f1f !important;
}
